@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color1: #1E6F5C;
  --color2: #289672;
  --color3: #29BB89;
  --color4: #C0E6BA;
  --color5: #E6DD3B;

  --font-color: #5a5a5a;
  --font-color2: #727272;
}
body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

* {
  font-size: 15px;
  letter-spacing: 2px;
}

section {
  padding: 5rem;
  width: 100%;
}

.font-chakra {
  font-family: 'Chakra Petch', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}